@import "tailwindcss";

html, 
body, 
#root {
  margin: 0;
  padding: 0;
  height: 100vh !important;
  width: 100vw !important;
  overflow: hidden;
  background-color: #0b0e14;
  color: #94a3b8;
}

/* SLEEK SCROLLBAR SELECTORS FOR INTERNAL SCROLL FLOATS */
.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #1e293b !important;
  border-radius: 9999px !important;
  border: 2px solid transparent !important;
  background-clip: padding-box !important;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #334155 !important;
}